@model WebshopGraphicsCard.Models.Klant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-action="Login" asp-controller="Auth">
        <h2>ONLINE VIDEOKAARTEN - Aanmelden</h2>
        <table>
            <tr>
                <td>Gebruikersnaam: </td>
                <td><input type="text" asp-for="Gebruikersnaam"/><span asp-validation-for="Gebruikersnaam"></span></td>
            </tr>
            <tr>
                <td>Wachtwoord: </td>
                <td><input type="password" asp-for="Wachtwoord"/><span asp-validation-for="Wachtwoord"></span></td>
            </tr>
        </table>
        <p><input type="submit" value="Meld me aan..."/></p>
        <p>@ViewBag.Fout</p>
    </form>
</body>
</html>
