@model WebshopGraphicsCard.Models.Klant

<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body class="Centreer">
    <div class="div">
        <form asp-action="Login" asp-controller="Auth" >

            <h2 class="OpmaakTitels">ONLINE VIDEOKAARTEN - Aanmelden</h2>
            <table align="center">
                <tr>
                    <td>Gebruikersnaam: </td>
                    <td><input type="text" asp-for="Gebruikersnaam" /></td>
                    <td><span asp-validation-for="Gebruikersnaam" class="FoutMelding"></span></td>
                </tr>
                <tr>
                    <td>Wachtwoord: </td>
                    <td><input type="password" asp-for="Wachtwoord" /> </td>
                    <td><span asp-validation-for="Wachtwoord" class="FoutMelding"></span></td>
                </tr>
            </table>
            <br />
            <p><input type="submit" value="Meld me aan..." /></p>
            <p class="FoutMelding">@ViewBag.Fout</p>
            <br />
        </form>
    </div>
    
</body>
</html>
