.OpmaakFotoCato 
{
    width: 150px;
}
.OpmaakFotoToevoegen 
{
    height: 250px;
}
.OpmaakFotoWinkelmand 
{
    width: 150px;
}
.OpmaakFotoVuilbak {
    width: 50px;
}
.FoutMelding 
{
    font-weight: bold;
    color: red;
}



