.OpmaakFotoCato {
    width: 150px;
}
.OpmaakFotoToevoegen {
   height: 250px;
}
.Centreer{
    text-align:center;
}

.Fout{
    font-weight:bold;
    color:red;
}
.opmaakBalk {
    background-color:darkblue;
    color:white;
    font-weight:bold;
}
.opmaakBalkLijn {
    border-bottom-style: solid;
    border-color: darkblue;
    border-width: 2px;
}

.Div {
    background-image: url(~/images/Achtergrond.jpg); 
    width: 1850px;
    border: 15px solid whitesmoke;
    margin: 20px;
}
